* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
}

:root {
    --clr: #1464f4;
}

.flex {
    display: flex;
}

.alg-center {
    align-items: center;
}

.jtf-center {
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.sz-14 {
    font-size: 14px;
}

.sz-12 {
    font-size: 12px;
}

.pd-rl-15 {
    padding: 0 15px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}
/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #8A8A8A; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #979797; 
}

/* Header */
#header {
    justify-content: space-between;
    padding: 16px 30px;
    font-weight: 500;
    position: relative;
}

#header a {
    color: #000;
    margin-right: 30px;
}

#header  a:hover {
    color: var(--clr);
}

#header .acount .register {
    background-color: var(--clr);
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 24px;
    margin: 0 44px 0 0;
    transition: all 0.25s linear;
}

#header .acount .register:hover {
    background-color: #fff;
    border: 1px solid var(--clr);
    color: var(--clr);
    cursor: pointer;
}

#header .acount i {
    font-size: 20px;
    padding: 8px;
    border-radius: 3px;
}

#header .acount i:hover {
    cursor: pointer;
    color: var(--clr);
    background-color: rgb(215, 228, 251);
}

/* Side menu */
#header .side-menu {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding: 30px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 23.25%;
    z-index: 10;
}

#header .side-menu a {
    color: #000;
}

#header .side-menu > div:not(div:first-child, div:last-child) {
    margin-bottom: 38px;
}

#header .side-menu .exit-sm {
    padding: 10px 20px;
    justify-content: flex-end;
}

#header .side-menu .exit-sm:hover {
    cursor: pointer;
}

#header .side-menu .exit-sm i {
    padding: 8px 0;
    font-size: 20px;
    font-weight: lighter;
}

#header .side-menu .heading {
    font-size: 16px;
    margin-bottom: 16px;
}

#header .side-menu ul {
    font-size: 14px;
}

#header .side-menu ul li {
    padding: 8px;
    margin-bottom: 4px;
}

#header .side-menu li:hover {
    background: rgba(20,100,244,.1);
    border-radius: 3px;
}

#header .side-menu .national {
    justify-content: space-between;
    padding: 8px;
}

#header .side-menu .national:hover {
    background: rgba(20,100,244,.1);
    border-radius: 3px;
    cursor: pointer;
}

.side-menu .national > p:last-child {
    color: var(--clr);
}

/* Languages */
#header .language {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 100px);
    padding: 30px;
    background-color: #fff;
    position: fixed;
    top: 10%;
    left: 0;
    width: 23.25%;
    z-index: 10;
    margin-bottom: 30px;
}

#header .language .exit-lg {
    padding: 10px 0;
    justify-content: flex-end;
}

#header .language .exit-lg:hover {
    cursor: pointer;
}

#header .language .exit-lg i {
    padding: 8px 0;
    font-size: 20px;
    font-weight: lighter;
}

#header .language .heading {
    font-size: 16px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

#header .language > div:not(div:first-child) {
    margin-bottom: 38px;
}

#header .language .origin {
    margin-bottom: 16px;
}
#header .language .langs {
    font-size: 14px;
}

.language .langs p {
    font-size: 14px;
    padding: 8px;
    margin-right: 30px;
}

#header .langs p:hover {
    background: rgba(20,100,244,.1);
    border-radius: 3px;
    cursor: pointer;
}

/* Banner */
#banner video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Content */
#content {
    position: relative;
}

#content .intro {
    padding: 100px 188px;
    color: #3C3C3C;
    margin-bottom: 100px;
    height: 690px;
}

#content .intro > div:first-child {
    width: 45%;
}

#content .intro .heading {
    line-height: 50px;
    font-size: 22px;
    margin-bottom: 20px;
}

.intro .heading .cpn-name {
    font-size: 50px;
    font-weight: lighter;
}

#content .intro .intro--car {
    position: absolute;
    top: 1.25%;
    right: 0;
    width: 70%;
}
.intro .intro--car img {
    width: 100%;
    object-fit: cover;
}
/* Vision */
#content .vision {
    position: relative;
    margin: 0 100px 100px 100px;
}

.vision .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0 0 0) 0%, rgba(255,255,255,0) 100%);
}

.vision .vision--img {
    width: 100%;
}

.vision .vision--img img {
    width: 100%;
}

.vision .vision--content {
    display: flex;
    position: absolute;
    bottom: 5%;
    z-index: 1;
}

.vision .vision--content .item {
    width: 20%;
    padding: 0 40px;
}

.vision .vision--content .item:nth-child(1) {
    width: 30%;
}

.vision .vision--content .item:nth-child(5) {
    width: 30%;
}

.vision .vision--content .title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
}

.vision .vision--content .desc {
    color: #979797;
}

.vision .vision--content hr {
    border: 1px solid rgba(87, 87, 87, 0.5);
}

/* Foot-print */
.foot-print {
    margin: 0 100px 100px 100px;
}

.foot-print > div:first-child {
    text-align: center;
    margin-bottom: 80px;
}

.foot-print .heading {
    color: #1f2125;
    font-size: 56px;
    margin-bottom: 24px;
}

.foot-print .footer {
    color: #3c3c3c;
}

.foot-print .foot-print--img {
    display: flex;
    justify-content: space-between;
}

/* History */
.history {
    margin: 0 100px 65px 100px;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.history .list-item {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 100%;
    margin-bottom: 100px;
    transition: .3s;
}

.history .list-item .item {
    width: 290px;
    margin-right: 39px;
}

.history .item .item--img {
    width: 100%;
    margin-bottom: 30px;
}

.history .item .infor {
    width: 100%;
}

.history .item .date {
    font-size: 20px;
    margin: 15px 0;
    color: #1f2125;
}

.history .item .desc {
    color: #3c3c3c;
}

/* History timeline */ 
.history .time-line {
    column-gap: 6px;
    justify-content: space-between;
    position: absolute;
    top: 90%;
}

.history .time-line .item {
    width: 36px;
    height: 6px;
    border-radius: 50px;
    background-color: #ccc;
    position: relative;
    transition: .1s;
}

.history .time-line .item:hover {
    cursor: pointer;
}

.history .time-line .item.active {
    background-color: var(--clr);
}

.time-line .item p {
    position: absolute;
    top: 6px;
}

/* Prize */
.prize {
    margin: 0 100px 100px 100px;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.prize .prize--list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    transition: .3s;
}

.prize--list .item {
    width: 1400px;
}

.prize--list .item .infor {
    width: 23%;
    margin-left: 130px;
}

.prize--list .item .title {
    font-size: 56px;
    font-weight: lighter;
    color: #1f2125;
    margin: 70px 0 40px;
}

.prize--list .item .year {
    font-size: 20px;
    color: #1f2125;
    margin-bottom: 24px;
}

.prize--list .item .desc {
    font-size: 16px;
    color: #3C3C3C;
    line-height: 24px;
}

.prize--list img {
    width: 100%;
}

.prize .prize--control {
    justify-content: space-around;
    width: 40%;
    position: absolute;
    right: -5px;
    bottom: 32px;
}

.prize .prize--control .btn--pre {
    margin-right: 15px;
}

.prize .prize--control > div:hover {
    cursor: pointer;
}

.prize .prize--control .pagination {
    color: #3C3C3C;
}
/* Footer */
#footer {
    padding: 36px 0;
    color: #3C3C3C;
    background-color: #F8F8F8;
    justify-content: space-between;
}

#footer span {
    font-weight: bold;
}

.col-1 {
    width: calc(100% / 2.75);
}

.col-1 .logo {
    margin-bottom: 36px;
}

.col-1 ul a {
    color: #8A8A8A;
    padding-bottom: 4px;
    border-bottom: 0 solid var(--clr);
    position: relative;
}

.col-1 ul a:hover {
    color: var(--clr);
}

.col-1 ul a::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -2px;
    background-color: var(--clr);
    transform: translateX(-50%);
}

.col-1 ul a:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.col-1 > p:first-child{
    font-weight: bold;
}

.col-2 {
    width: calc(100% / 6); 
}

.col-2 ul {
    text-transform: uppercase;
    font-weight: bold;
}

.col-2 ul li {
    margin-bottom: 28px;
}

.col-2 ul li:hover {
    cursor: pointer;
}

.col-2 li a {
    color: #3C3C3C;
    position: relative;
}

.col-2 ul i {
    margin-left: 8px;
    transform: rotate(-90deg);
}

.col-2 ul a::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    background-color: var(--clr);
    transform: translateX(-50%);
}

.col-2 ul a:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.col-3 {
    width: calc(100% / 4);
    flex-direction: column;
    justify-content: space-between;
}

.col-3 a {
    color: var(--clr);
    margin-left: 5px;
}

.col-3 i {
    opacity: 0.6;
    margin-right: 10px;
}

.col-3 > div:first-child > p:first-child {
    margin-bottom: 24px;
}

.col-3 > div:last-child p {
    line-height: 28px;
}
